#modal {
  background-color: #e6eaf3;
  color: white;
}
#modal > * {
  margin: 0 0 0.5rem 0;
}

#modal::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.4);
}

#modal::backdrop {
  /* background: rgba(0, 0, 0, 0.4); */
  background: rgba(0, 0, 0, 0.8);
}

body#modal-open {
  overflow: hidden;
  position: fixed;
}

/* extra styling */
/* body {
  min-height: 100vh;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--gray-8);
}

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
} */